[Unit]
Description=Start the startup.py script for relay control functionality

[Service]
User=root
Group=root
ExecStart=/opt/startup/startup.py

[Install]
WantedBy=multi-user.target
